body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    position: absolute;
    color: white;
    background: rgba(9, 9, 9, 0.297);
    width: 90%;
    left: 5%;
    top: 35%;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    min-height: 30%;
}

@media only screen and (max-width: 768px) {
    .container {
        top: 5%;
        min-height: 90%;
    }
}

.container > p{
    text-align: center;
    margin: 10px;
}

.container a, :hover, :focus {
    text-decoration: none;
    color: rgb(213, 244, 203);
}